* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: rgb(119, 119, 119);
  margin-bottom: 30px;
  padding: 30px;
  color: white;
}

.header > h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 20px;
}

.get-meal-container > button {
  background-color: rgb(255, 99, 71);
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  color: rgb(34, 34, 34);
}

.get-meal-container > button:hover {
  background-color: rgb(255, 215, 0);
}

.get-meal-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.get-meal-container > p, .get-meal-container > button {
  font-size: 2rem;
}

.name-category-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-category-section > h2 {
  font-size: 3rem;
  color: rgb(0, 128, 128);

}

.name-category-section > h3 {
  font-size: 2rem;
  color: rgb(0, 128, 128);

}

.img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

img {
  width: 60vw;
}

.ingredients-container > h3, .directions-container > h3 {
  text-align: center;
  margin: 20px 0 10px 0;
  font-size: 2rem;
}

.measurements-ingredients-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-left: 20px;
}

.measurements-ingredients-container > ul > li {
  font-size: 1.2rem;
}

.measurements, .ingredients {
  list-style: none;
}

.directions-container {
  width: 90vw;
  margin: auto;
}

.directions {
  font-size: 1.2rem;
}

.recipe-source-section {
  padding: 20px;
  text-align: center;
}

.recipe-source-section > a {
  text-decoration: none;
  color: rgb(0, 128, 128);
  font-weight: bold;
}

footer {
  background-color: rgb(119, 119, 119);
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 900px) {
  .image-full-recipe-section {
    display: flex;
    gap: 20px;
  }

  .img {
    margin-left: 20px;
    width: 49%;
  }

  img {
    width: 100%;
  }

  .full-recipe-container {
    width: 49%;
  }

  .directions-container {
    max-width: 100%;
  }

  .measurements-ingredients-container {
    justify-content: start;
    padding-left: 0;
  }

  .ingredients-container > h3, .directions-container > h3 {
    text-align: start;
  }
}